<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Settings</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="public/styles/accountSettings.css">
    <!-- Link Scripts -->
    <script src="public/scripts/accountSettings.js"></script>
    <!-- Link Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Geodata-->
    <script src="//geodata.solutions/includes/countrystatecity.js"></script>
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    
                        

</head>

<header>
    
    <div class="logo" style="position: flex">
        <a href="#home"></a><img src="public/images/cp logo-2077.png">
    </div>

    <div class="bar"></div>
        <div id="top"></div>
        <div id="bottom"></div>

  </header>


<body>
    <h1>Account Setting</h1>

    

    <div class="navbar">
        <a href="#message"><i class="fas fa-envelope"></i></a>
        <a href="#post"><i class="fas fa-pencil-alt"></i></a>
        <a href="#home"><i class="fas fa-home"></i></a>
        <a href="#profile"><i class="fas fa-user-circle"></i></a>
        
      </div>  
      
    <div class="design">
        <div id="navtop"></div>
        <div id="navbottom"></div>
    </div>

        <main>
            <div class="container">
                <div class="leftbox">
                    <nav>
                        <a onclick="tabs(0)" class="tab active">
                            <i class="fa fa-user"></i> 
                        </a>
    
                        <a onclick="tabs(1)" class="tab">
                            <i class="fa fa-cog"></i> 
                        </a>
                    
                    </nav>
                </div>
                
                <div class="rightbox">
                    <div class="profile tabShow">
                        <form action="/users/<%= user._id %>?_method=PUT">
                            <h1>Personal Info</h1>
                            <h2><%= user.username %></h2>
                            <h3>Location</h3>
                            <input type="text" name="location" <% if(user.location) { %> value="<%= user.location %>" <% } else { %> placeholder="City, State, Country" <% } %>>
                            <h3>Blurb</h3>
                            <textarea type="text" rows="4" cols="40" class="input" <% if(!user.blurb) { %> placeholder="A bit about you"><% } else { %>><%= user.blurb %><% } %></textarea>
                            
                            <input type="submit" class="btn" value="Update">
                        </form>
                    </div>
    
                    <div class="accountSetting tabShow">
                        <h1>Login Settings</h1>
                        <h3>E-mail</h3>
                        <input type="text" class="email" value="<%= user.email %>">
                        <h3>New Password</h3>
                        <p>Leave empty to keep current password</p>
                        <input type="password" class="password" value="">
                        
                        <input type="submit" class="btn" value="Update">
                    </div>
                </div>
            </div>
          </main>
</body>
    
</html>