<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>

    <!-- Link CSS -->
    <link rel="stylesheet" href="public/styles/userProfile.css">
    <link rel="stylesheet" href="public/styles/profileCard.css">
    <!-- Link Scripts -->
    <script src="public/scripts/app.js"></script>
    <!-- Link Jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--Font Awesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">

</head>

<header>
    
    <div class="logo" style="position: flex">
        <a href="#home"></a><img src="public/images/cp logo-2077.png">
    </div>

    <div class="bar"></div>
        <div id="top"></div>
        <div id="bottom"></div>

  </header>


<body>
    

    <div class="navbar">
        <a href="#message"><i class="fas fa-envelope"></i></a>
        <a href="#post"><i class="fas fa-pencil-alt"></i></a>
        <a href="#home"><i class="fas fa-home"></i></a>
        <a href="#profile"><i class="fas fa-user-circle"></i></a>
        
      </div>  
      
        <div class="design">
            <div id="navtop"></div>
            <div id="navbottom"></div>
        </div>

    <main>
   
    <aside class="sidebar">
        <h1>My Profile<span class="close"><i class="fa fa-times"></i></span></h1>
        <div class="user-pic">
            <img width="100" src="image/neon-1608315302167-8777.jpg" alt="">
        </div>
        <div class="user-info">
            <span class="username">Username</span>
            <span class="email">example@example.com</span>
        </div>
        <div class="side-nav">
            
            <nav>
                <ul>

                    <li onclick="show(1)">
                        <span><i class="fa fa-user"></i></span>
                        <h3>About Me</h3>
                    </li>

                    <li  onclick="show(2)">
                        <span><i class="fa fa-pen"></i></span>
                        <h3>Posts</h3>
                    </li>
                        
                      
                    <li onclick="show(3)">
                        <span><i class="fa fa-comments"></i></span>
                        <h3>Messages</h3>
                    </li>
                            
                        
                    <li onclick="show(0)">
                        <button><i class="fa fa-cog"></i></button>
                        <h3>Account Settings</h3>
                    </li>
                     
                    
                </ul>
            </nav>
        </div>
        
        </div>
    </aside>
    <div class="main">
        <section class="profile tabs">
            
        </section>
        <section class="tabs">
            <h1>About Me</h1>
            <h3>Location</h3>
            <p><%= user.location %></p>
            <h3>Blurb</h3>
            <p class="text"><%= user.blurb %></p>
        </section>

        <section class="tabs">
            <h1>Posts</h1>
            <p class="text">Here are your previous posts</p>
            <% user.reports.forEach(report => { %>
                <article class="report">
                    <section class="report-header">
                        <section class="report--header__toprow">
                            <p class="report--header__bottrow__username"><%= report.createdBy.username %></p>
                            <p class="report--header__bottrow__category"><%= report.category %></p>
                            <p class="report--header__bottrow__severity"><%= report.severity %></p>
                            <p class="report--header__bottrow__system"><%= report.system.sysType %></p>
                        </section>
                        <section class="report--header__bottrow">
                            <p class="report--header__bottrow__title"><%= report.title %></p>
                            <p class="report--header__bottrow__occurance">
                                <% if (report.occuranceDT) { %>
                                    <%= report.occuranceDT.toLocaleDateString(); %>
                                <% } %>
                            </p>
                            <p class="report--header__bottrow__frequency"><%= report.frequency %></p>
                        </section>
                    </section>
                    <section class="report--body">
                        <p class="report--body__actual"><%= report.actualOutcome %></p>
                        <p class="report--body__expected"><%= report.expectedOutcome %></p>
                        <p class="report--body__description"><%= report.description %></p>
                    </section>
                    <aside class="report--body__aside">
                        <p>
                            <% if(report.createdBy._id == user.id) { %>
                            <a href="/reports/<%= report._id %>/edit ">EDIT</a>   
                            <% } %>
                        </p>
                        <p class="report--body__aside__img"><img src="<%= report.imageLinks[0] %>" alt=""></p>
                        <p class="report--body__aside__time"><%= report.createdAt.toLocaleDateString(); %></p>
                    </aside>
                </article>
            
            <% }) %>
        </section>
        
    </div>

        


</body>
</html>